

 /*font google*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



/* renkler ve şekillendirme */

.flex{
    display: flex;
    align-items: center;
}

.btn{
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}
.btn:hover{
    background: var(--SecondaryColor);
}
.grid{
    display: grid;
    align-items: center;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}


